*{  margin:0;padding:0; }
html{
    font-size:62.5%;
}

body{
    font-family: 'Titillium Web', sans-serif;
    text-rendering:optimizeLegibility;
}

.navbar{
    background-image:linear-gradient(rgba(102, 51, 102, 0.8),rgba(102, 51, 102, 0.8)),url("../img/background1.jpg") !important;
    background-position: center top;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.nav-item a {
    color:white !important;
}
.navbar-brand img{
    height: 2rem;
}
.navbar a{
    padding: 1rem;;
}
.navbar-nav li{
    font-size: 1.6rem;
    margin-left:.8rem;
}
.navbar-nav li:first-child{
    margin-left:0;
}
.navbar-nav li a{
    padding:0!important;
}
.active{
    background:rgba(102, 51, 102, 1);
}
.navbar-nav li a:link,
.navbar-nav li a:visited{
    color:white;
    background:rgba(102, 51, 102, 0);
    text-transform: uppercase;
    padding:.3rem 1.6rem !important;
    border-radius:.3ren;
    transition:0.8s;
}
.navbar-nav li:hover a:link,
.navbar-nav li:hover a:visited{
    color:white;
    background:rgb(102, 51, 102, 1);
    text-transform: uppercase;
    padding:.3rem 1.6rem !important;
    border-radius:.3rem;
}
.active{
    background:rgb(102, 51, 102, 1) !important;
}

.home-section{
    background-image:linear-gradient(rgba(102, 51, 102, 0.8),rgba(102, 51, 102, 0.8)),url("../img/background1.jpg") !important;
    background-position: center top;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    height:85vh;
    position:relative;
    box-sizing: border-box;
    display:flex !important;
    justify-content: center !important;
    align-items:center !important;
}
.head-text{
    position: absolute;;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    color:white;
}
.head-text h2{
    font-size:4.21rem;
    width:85%;
    margin:auto;
}
.button{
    background:#ff6633 !important;
    border:none !important;
    margin-top:4rem;
    padding:1rem 4rem !important;
    color:white !important;
    font-size:1.6rem !important;
    outline:0 !important; 
    -webkit-box-shadow: none!important;
    box-shadow: 0rem .4rem #d85327 !important;
}

.service-section{
    background:linear-gradient(rgba(23, 194, 164,0.8),rgba(23, 194, 164,0.8)),url("../img/background.jpg") !important;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed !important;
    height:100%;
}

.text-box{
    text-align: center;
    color:white;
    margin-bottom:6rem;
}
.text-box h2{
    margin-top:8rem;
    font-size:4rem;
    letter-spacing: .03rem;
}
.text-box hr{
    background:rgb(24, 23, 23);
    display: block;
    width: 8rem;
    margin:auto;
    margin-top:1rem;
    margin-bottom:1rem;
    height:.2rem !important;
}
.text-box p{
    font-size:1.8rem ;
    padding:0 2rem 0 2rem;
    width:55%;
    margin:auto;
}
.icon-box{
    text-align:center;
    color:white;
    padding-bottom: 60px;
}
.icon-box img{
    height:120px;
    width:120px;
    margin:auto;
    margin-bottom:4rem;
}
.icon-box p{
    margin-top:1rem;
    font-size:1.6rem;
}
.sc-team{
    background:linear-gradient(rgba(231, 241, 248, 0.85),rgba(232, 231, 248, 0.85)),url(../img/background2.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center top;
    background-attachment:fixed !important;
    height:100%;
}
.team-text{
    text-align: center !important;
    color:#3c4761;
    margin-bottom:3rem;
}
.team-text hr{
    background:black;
    display: block;
    width: 8rem;
    margin:auto;
    margin-top:1rem;
    margin-bottom:1rem;
    height: .2rem !important;
}
.team-text h2{
    margin-top:8rem;
    font-size:4rem;
    letter-spacing: .03rem;
}
.team-text p{
    font-size:1.6rem;
    padding:0 2rem 0 2rem;
    width: 55%;
    margin:auto;
}
.team-box{
    text-align:center;
    color:#3c4761;
    margin-bottom:3rem;
}
.team-box img{
    border-radius:50%; 
    margin:auto;
    margin-bottom:2rem;
}
.team-box p{
    font-size:1.6rem;
}
.team-box h2{
    font-size:3rem !important;
}
.team-box h6{
    color:#17c2a4 !important;
    margin-bottom:2rem;
    font-size: 1.6rem;
}
.icon{
    margin-left:.5rem;
    margin-bottom:2rem;
    margin-top:1rem;
    padding:.8rem 1rem;
    color:rgb(253, 253, 253);
    background:rgb(87, 83, 83);
    border-radius:50%;
    font-size: 1.6rem;
}
.icon i:first-child{
    margin-left:0rem;
}
.skill-box{
    text-align:center;
    color:#3c4761;
    margin-bottom:7rem;
}
.skill-section{
    background:linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)),url(../img/background4.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    height:100%;
}

/* ----jquery plugin css started------ */

svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
  }
  
  svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; 
    stroke-width: 10;
  }
  
  svg.radial-progress circle.incomplete { opacity: 0.25; }
  
  svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }
  
  svg.radial-progress text {
    fill: #fff;
    text-anchor: middle;
  }

svg.radial-progress circle{
    stroke-width: 5;
}

svg.radial-progress text{
    fill:#3c4761;
    font-size:1.5rem;
}

svg.web-design circle{
    stroke: #30bae7;
}
svg.html-css circle{
    stroke: #d74680;
}
svg.graphics-design circle{
    stroke: #15c7a8;
}
svg.ui-ux circle{
    stroke: #eb7d4b;
}

/* ----jquery plugin css end------ */

/* ---------portfolio css start-------*/

.portfolio-section{
    background:linear-gradient(rgba(255, 221, 153, 0.9),rgba(255, 221, 153, 0.9)),url(../img/background5.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    height: 100%;
}


.port-button{
    text-align: center !important;
}

.port-btn{
    background-color:#ebc985 !important;
    outline:0 !important; 
    -webkit-box-shadow: none!important;
    font-size: 2rem !important;
    padding:.2rem 2rem !important;
    border:none !important;
    color:#393939 !important;
    border-radius: 0.5rem !important;
    margin:0 .5rem 6rem .5rem !important;
    transition:.6s;
}
.port-btn:hover{
    box-shadow: inset -0.1rem -0.1rem 0.3rem 0.3rem rgba(53, 49, 49, 0.5)!important;
}
.port-img{
    background:none !important;
}
.port-img h4{
    margin:2.5rem 0 5rem 0 !important;
    font-size: 2rem;
    text-align:center;
    color:#534f46;
}

.load-button{
    text-align:center;
    margin-bottom: 6rem !important;
}

.load-btn{
    background-color: #17c2a4 !important;
    border:none !important;
    margin-top:4rem;
    padding:1rem 4rem !important;
    color:white !important;
    font-size:1.6rem !important;
    outline:0 !important; 
    -webkit-box-shadow: none!important;
    box-sizing: border-box;
    box-shadow: 0rem .4rem rgb(5, 129, 129) !important;
}

.portfolio-section .mixitup-control-active{
    background:white !important;
}

.contain{
    text-align: center !important;
}
/* ---------portfolio css end-------*/

/* -----------about-section star------------ */

.about-section{
    background:linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)),url(../img/background5.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    height: 100%;

}

.client-about p{
    font-size: 2rem;
    color:white;margin-bottom:2rem;
}
.client-about h1{
    color:white;  
}
.client-about h4{
    color:#ffdd99 !important;
    font-size: 1.8rem;
    margin-bottom:10rem;
}
.client-img img{
    border-radius:50%;
    height: 13rem;
    width: 13rem;
    margin-left: 1.5rem;
}

/* -----------about-section end------------ */

/* -------------form section start------------- */

.form-section{
    background: linear-gradient(rgba(60, 83, 153, 0.9),rgba(60, 83, 153, 0.9)),url(../img/background5.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center center;
    background-size:cover;
}
.form-text hr{
    background:rgb(24, 23, 23);
    display: block;
    width: 8rem;
    margin:auto;
    margin-top:1rem;
    margin-bottom:1rem;
    height:.2rem !important;
}
.form-text h2{
    color:white !important;
    font-size: 4rem;
    text-align:center;
    margin-top:8rem;
}

.form-text p{
    font-size:1.8rem;
    color:white;
    text-align:center;
    margin-bottom:6rem;
}
.form-input .form-control{
    font-size: 2rem;
}
.form-floating .form-control{
    height: 20rem !important;
    margin-bottom:4rem;
}
.form-floating{
    font-size: 2rem;
}
.form-btn{
    text-align:center;
    margin-bottom: 6rem;
}
.form-btn .button{
    background-color: #30bae7 !important;
    box-shadow: 0rem .4rem #11a6d8 !important;
}
.footer-link{
    text-align: center;
    margin-top:10rem;
}
.footer-link a{
    text-decoration: none !important;
    font-size: 3rem;
    margin:5rem 2.1rem;
    color:white;
}
.footer-section{
    background: linear-gradient(rgba(52, 74, 142, 0.9),rgba(52, 74, 142, 0.9)),url(../img/background5.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position:center center;
    background-size:cover;
    padding:5rem 0rem;
    border-top:1px solid rgb(145, 145, 145);
   
}

.footer-link a:hover{
    transition:0.4s;
    color:#0014c4 !important;
}

/* -------------form section end------------- */

